name: benchmarks

on:
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 1"

jobs:
  run-benchmarks:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run ignored benchmarks
        env:
          RUST_BACKTRACE: "1"
        run: cargo test --release -- --ignored --nocapture
